root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = tab
indent_size = 4
tab_width = 4
csharp_new_line_before_open_brace = all

[*.md]
trim_trailing_whitespace = false
